[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sequential = "*"
pygame = "*"
pandas = "*"
scikit-learn = "*"
pyserial = "*"
scikeras = "*"
matplotlib = "*"
opencv-python = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
